*{
    margin: 0;
    padding: 0;
}
.container{
 height: 100vh;
 display: flex;
 align-items:center;
 justify-content: center;
 background-color: #B9FFF8;
}
.qr-card{
   box-shadow: 5px 5px 25px black;
    height: 400px;
    width:283px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}
.qr-img{
     width: 90%;
    border-radius: 10px;
 margin: 10px 0;
}
.qr-info{
    width: 90%;
    text-align: center;
    margin: 4%;
}
.qr-title{
    font-size: 0.9rem;
    margin: 4% 0;
}
.qr-description{
    font-size: 0.7rem;
    margin: 4% 0;
}

@media only screen and (max-width: 1500px) {
  
  }

